<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lzcge.crowd.mapper.CertMapper">

    <select id="queryCertByAccttype" resultType="com.lzcge.crowd.pojo.po.CertPO" parameterType="string">
    	SELECT * FROM t_cert WHERE id IN (SELECT certid FROM t_account_type_cert WHERE accttype=#{accttype})
    </select>


</mapper>