<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/theme.css" th:href="@{/css/theme.css}">
	<style>
#footer {
    padding: 15px 0;
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
}
#topcontrol {
  color: #fff;
  z-index: 99;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: #222;
  position: relative;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}

#topcontrol:after {
  /*top: -2px;*/
  left: 8.5px;
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: FontAwesome;
}

#topcontrol:hover {
    color: #fff;
    background: #18ba9b;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.label-type, .label-status, .label-order {
    background-color: #fff;
    color: #f60;
    padding : 5px;
    border: 1px #f60 solid;
}
#typeList  :not(:first-child) {
    margin-top:20px;
}
.label-txt {
    margin:10px 10px;
    border:1px solid #ddd;
    padding : 4px;
    font-size:14px;
}
.panel {
    border-radius:0;
}

.progress-bar-default {
    background-color: #ddd;
}
	</style>
  </head>
  <body>
 <div class="navbar-wrapper">
      <div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			  <div class="container">
				<div class="navbar-header">
				  <a class="navbar-brand" href="index.html" style="font-size:32px;">尚筹网-创意产品众筹平台</a>
				</div>
                  <div id="navbar" class="navbar-collapse collapse" style="float:right;">
                      <ul class="nav navbar-nav">
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>[[${session['LOGIN-MEMBER'].username}]]<span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu">
                                  <li><a href="/member/center.html"><i class="glyphicon glyphicon-scale"></i> 会员中心</a></li>
                                  <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                                  <li class="divider"></li>
                                  <li><a href="index.html" th:href="@{/member/logout.html}"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
			  </div>
			</nav>
      </div>
    </div>

    <div class="container theme-showcase" role="main">

        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <!--<li>-->
                                <!--<a rel="nofollow" href="index.html"><i class="glyphicon glyphicon-home"></i> 众筹首页</a>-->
                                <!--</li>-->
                                <li >
                                    <a rel="nofollow" href="/project/displayAllProjects.html"><i class="glyphicon glyphicon-th-large"></i> 众筹项目</a>
                                </li>
                                <!--<li>-->
                                <!--<a rel="nofollow" href="start.html"><i class="glyphicon glyphicon-edit"></i> 发起众筹</a>-->
                                <!--</li>-->
                                <li>
                                    <a rel="nofollow" href="/member/minecrowdfunding.html"><i class="glyphicon glyphicon-user"></i> 我的众筹</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        
        
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="panel panel-default" >
                        <div class="panel-heading" style="text-align:center;">
                            <div class="container-fluid">
                                <div class="row clearfix">
                                    <div class="col-md-3 column">
                                        <div class="progress" style="height:50px;border-radius:0;    position: absolute;width: 75%;right:49px;">
                                          <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;height:50px;">
                                            <div style="font-size:16px;margin-top:15px;">1. 项目及发起人信息</div>
                                          </div>
                                        </div>
                                        <div style="right: 0;border:10px solid #ddd;border-left-color: #88b7d5;border-width: 25px;position: absolute;
                                             border-left-color: rgba(221, 221, 221, 1);
                                             border-top-color: rgba(221, 221, 221, 0);
                                             border-bottom-color: rgba(221, 221, 221, 0);
                                             border-right-color: rgba(221, 221, 221, 0);
                                        ">
                                        </div>
                                    </div>
                                    <div class="col-md-3 column">
                                        <div class="progress" style="height:50px;border-radius:0;position: absolute;width: 75%;right:49px;">
                                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;height:50px;">
                                            <div style="font-size:16px;margin-top:15px;">2. 回报设置</div>
                                          </div>
                                        </div>
                                        <div style="right: 0;border:10px solid #ddd;border-left-color: #88b7d5;border-width: 25px;position: absolute;
                                             border-left-color: rgba(92, 184, 92, 1);
                                             border-top-color: rgba(92, 184, 92, 0);
                                             border-bottom-color: rgba(92, 184, 92, 0);
                                             border-right-color: rgba(92, 184, 92, 0);
                                        ">
                                        </div>
                                    </div>
                                    <div class="col-md-3 column">
                                        <div class="progress" style="height:50px;border-radius:0;position: absolute;width: 75%;right:49px;">
                                          <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;height:50px;">
                                            <div style="font-size:16px;margin-top:15px;">3. 确认信息</div>
                                          </div>
                                        </div>
                                        <div style="right: 0;border:10px solid #ddd;border-left-color: #88b7d5;border-width: 25px;position: absolute;
                                             border-left-color: rgba(221, 221, 221, 1);
                                             border-top-color: rgba(221, 221, 221, 0);
                                             border-bottom-color: rgba(221, 221, 221, 0);
                                             border-right-color: rgba(221, 221, 221, 0);
                                        ">
                                        </div>
                                    </div>
                                    <div class="col-md-3 column">
                                        <div class="progress" style="height:50px;border-radius:0;">
                                          <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;height:50px;">
                                            <div style="font-size:16px;margin-top:15px;">4. 完成</div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                        
                        <div class="container-fluid">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <blockquote style="border-left: 5px solid #f60;color:#f60;padding: 0 0 0 20px;">
                                        <b>
                                            回报设置
                                        </b>
                                    </blockquote>
                                </div>
                                <div class="col-md-12 column">

                                <!--<button type="button" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i> 添加回报</button>-->
                                <div style="border:10px solid #f60;border-bottom-color: #eceeef;border-width: 10px;width:20px;margin-left:20px;
                                         border-left-color: rgba(221, 221, 221, 0);
                                         border-top-color: rgba(221, 221, 221, 0);
                                         border-right-color: rgba(221, 221, 221, 0);
                                "></div>
                                <div class="panel panel-default" style="border-style: dashed;background-color:#eceeef">
                                  <div class="panel-body">

		<div class="col-md-12 column">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">回报类型</label>
                <div class="col-sm-10">
                     <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0"> 实物回报
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1"> 虚拟物品回报
                    </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">支持金额（元）</label>
                <div class="col-sm-10">
                  <input required="required" placeholder="请输入数字" type="number" id="supportmoney" class="form-control" style="width:100px;" >
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">回报内容</label>
                <div class="col-sm-10">
                  <textarea id="content" class="form-control" rows="5" placeholder="简单描述回报内容，不超过200字"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">说明图片</label>
                <div class="col-sm-10">
                    <!--存放已经上传的文件路径-->
                    <input required="required" type="hidden" id="describPicPath">
                    <!--隐藏的文件上传框-->
                    <input id="describPictureInput" type="file" name="describPic" style="display: none;" />
                  <button type="button" id="describPicBtn" class="btn btn-primary btn-lg active">上传图片</button>
                  <label class="control-label">支持jpg、jpeg、png、gif格式，大小不超过2M，建议尺寸：760*510px选择文件</label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">回报数量（名）</label>
                <div class="col-sm-10">
                  <input required="required" placeholder="请输入数字" id="count" type="number" class="form-control" style="width:100px;display:inline" >
                  <!--<label class="control-label">“0”为不限回报数量</label>-->
                </div>
              </div>
              <!--<div class="form-group">-->
                <!--<label for="inputEmail3" class="col-sm-2 control-label">单笔限购</label>-->
                <!--<div class="col-sm-10">-->
                     <!--<label class="radio-inline">-->
                      <!--<input type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1"> 不限购-->
                    <!--</label>-->
                    <!--<label class="radio-inline">-->
                      <!--<input type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2"> 限购-->
                    <!--</label>-->
                    <!--<input type="text" class="form-control" style="width:100px;display:inline" >-->
                    <!--<label class="radio-inline">默认数量为1，且不超过上方已设置的回报数量</label>-->
                <!--</div>-->
              <!--</div>-->
              <div class="form-group">
                <label class="col-sm-2 control-label">运费(元)</label>
                <div class="col-sm-10">
                  <input required="required" placeholder="请输入数字" id="freight" type="number" class="form-control" style="width:100px;display:inline" value="0" >
                  <label class="control-label">“0”为包邮</label>
                </div>
              </div>
              <!--<div class="form-group">-->
                <!--<label for="inputEmail3" class="col-sm-2 control-label">发票</label>-->
                <!--<div class="col-sm-10">-->
                     <!--<label class="radio-inline">-->
                      <!--<input type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1"> 不可开发票-->
                    <!--</label>-->
                    <!--<label class="radio-inline">-->
                      <!--<input type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2"> 可开发票（包括个人发票和自定义抬头发票）-->
                    <!--</label>-->
                <!--</div>-->
              <!--</div>-->
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">回报时间</label>
                <div class="col-sm-10">
                     <label class="radio-inline">
                      项目结束后
                    </label>
                    <input required="required" placeholder="请输入数字" id="returndate" type="number" class="form-control" style="width:100px;display:inline" >
                    <label class="radio-inline">天，向支持者发送回报</label>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                <!--<div class="col-sm-10">-->
                      <!--<button type="button" class="btn btn-primary">确定</button>-->
                      <!--<button type="button" class="btn btn-default">取消</button>-->
                <!--</div>-->
              </div>

            </form>
		</div>
                                      
                                      
                                      </div>
                                    </div>
                                </div>
                                
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<blockquote>
				<p >
					<i class="glyphicon glyphicon-info-sign" style="color:#2a6496;"></i> 提示
				</p> <small>3个以上的回报：多些选择能提高项目的支持率。几十、几百、上千元的支持：3个不同档次的回报，能让你的项目更快成功。回报最好是项目的衍生品：<br>与项目内容有关的回报更能吸引到大家的支持。</small>
			</blockquote>
		</div>
	</div>
</div>
                                
                                
                            </div>
                        </div>
                        </div>
                        <div class="panel-footer" style="text-align:center;">
                            <button type="button" class="btn  btn-default btn-lg" onclick="window.location.href='/project/start-step-1.html'">上一步</button>
                            <button type="button" class="btn  btn-warning btn-lg" onclick="saveReturn()">下一步</button>
                            <!--<a class="btn" > 预览 </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="container" style="margin-top:20px;">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div id="footer">
                        <div class="footerNav">
                            <a rel="nofollow" href="#">关于我们</a> | <a rel="nofollow" href="#">服务条款</a> | <a rel="nofollow" href="#">免责声明</a> | <a rel="nofollow" href="#">网站地图</a> | <a rel="nofollow" href="#">联系我们</a>
                        </div>
                        <div class="copyRight">
                            Copyright ?2017-lzcge.cn 版权所有
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      
    </div> <!-- /container -->
     <script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
     <script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
     <script src="script/docs.min.js" th:src="@{/script/docs.min.js}"></script>
     <script src="script/back-to-top.js" th:src="@{/script/back-to-top.js}"></script>
     <script>
        $('#myTab a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })

        //--------------------------上传说明图片--------------------------------
        $("#describPicBtn").click(function(){
            // 调用click()函数而不传入回调函数，就表示对#headPictureInput单击
            $("#describPictureInput").click();
        });

        // 用户选择了具体要上传的文件后，文件上传框会触发值改变事件
        $("#describPictureInput").change(function () {
            //获取实际选中的文件数组
            var file = this.files[0];
            //创建formData对象
            var formData = new FormData();
            //封装文件数据
            formData.append("describPicPath",file);
            //发送ajax请求执行上传
            $.ajax({
                url:"/return/upload/describPic",
                type:"post",
                data:formData,
                contentType:false,
                processData:false,
                success:function (data) {
                    $("#describPicPath").val(data.data);
                }
            });
        });



        function saveReturn() {
            //获取分类信息的多个checkbox
            var types = [];
            $("input[name='inlineRadioOptions']:checked").each(function(i){
                types.push($(this).val())
            });


            var returntvo={
                "type":types[0],
                "supportmoney":$("#supportmoney").val(),
                "content":$("#content").val(),
                "count":$("#count").val(),
                "freight":$("#freight").val(),
                "describPicPath":$("#describPicPath").val(),
                "returndate":$("#returndate").val(),
            }

            $.ajax({
                url:"/save/return/info",
                type: "POST",
                data: JSON.stringify(returntvo),//将对象序列化成JSON字符串
                dataType: "json",
                contentType : 'application/json;charset=utf-8', //设置请求头信息
                success:function (data) {
                    if(data.result=="SUCCESS"){
                        location.href="/project/start-step-3.html";
                    }else{
                        alert(data.message);
                    }
                }
            });
        }

	</script>
  </body>
</html>